.grow {
  height: 30vh;
}
.footerimg {
  width: 3vw;
}
footer img {
  width: 100%;
}
footer {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5vw 0.5vw;
  background-color: #2c4c3b;
  position: relative;
}
